* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
}

#main-grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    row-gap: 20px;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "name name pic"
    "quote quote pic"
    "profile profile contact"
    "experience experience experience";
    align-items: center;
}

#experience-grid {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 50px;
    display: grid;
    grid-area: experience;
    grid-template-areas: 
    "code code"
    "database database"
    "web design";
}

#headline {
    grid-area: name;
}

#student-picture {
    grid-area: pic;
    text-align: center;
    align-items: center;
}

#student-quote {
    grid-area: quote;
    text-align: center;
}

#student-profile {
    grid-area: profile;
}

#student-contact {
    grid-area: contact;
    text-align: center;
    align-items: center;
}

#experience-database {
    grid-area: database;
}

#experience-code {
    grid-area: code;
}

#experience-web {
    grid-area: web;
}

#experience-design {
    grid-area: design;
}

@media (max-width: 1024px) {
    #main-grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 35px;
        grid-template-areas: 
        "name name"
        "quote pic"
        "quote contact"
        "profile profile"
        "experience experience";
    }

    #experience-grid {
        grid-area: experience;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 
        "code web"
        "database design";
    }

    #headline {
        grid-area: name;
    }
    
    #student-picture {
        grid-area: pic;
        text-align: center;
        align-items: center;
    }
    
    #student-quote {
        grid-area: quote;
        text-align: center;
    }
    
    #student-profile {
        grid-area: profile;
    }
    
    #student-contact {
        grid-area: contact;
        text-align: center;
        align-items: center;
    }
    
    #experience-database {
        grid-area: database;
    }
    
    #experience-code {
        grid-area: code;
    }
    
    #experience-web {
        grid-area: web;
    }
    
    #experience-design {
        grid-area: design;
    }

}

@media (max-width: 450px) {
    #main-grid {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 35px;
        grid-template-areas: 
        "name"
        "pic"
        "contact"
        "quote"
        "profile"
        "experience";
    }

    #experience-grid {
        grid-area: experience;
        row-gap: 20px;
        column-gap: 20px;
        grid-template-areas: 
        "code"
        "web"
        "database"
        "design";
    }

    #headline {
        grid-area: name;
    }
    
    #student-picture {
        grid-area: pic;
        text-align: center;
        align-items: center;
    }
    
    #student-quote {
        grid-area: quote;
        text-align: center;
    }
    
    #student-profile {
        grid-area: profile;
    }
    
    #student-contact {
        grid-area: contact;
        text-align: center;
        align-items: center;
    }
    
    #experience-database {
        grid-area: database;
    }
    
    #experience-code {
        grid-area: code;
    }
    
    #experience-web {
        grid-area: web;
    }
    
    #experience-design {
        grid-area: design;
    }

}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;
}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
}